body {
    background-color: rgb(100, 100, 100);
    font-family: "Helvetica", "Helvtica Neue", "Arial";
}

.entry {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

.entry h3 {
    margin-top: 0px;
}

.new-entry {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}