*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    width: 100vw;
}

.Explanation{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 40vh;
    width: 100%;
}

.Result{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 40vh;
    width: 100%;
}

h1, h2 {
    text-transform: uppercase;
}

.previous{
    background-color: #f8e978;
    color: black;
    border: solid 1px #F7DF1E;
    border-radius: 0;
    font-family: "Lato", sans-serif;;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
    margin: 1rem;
}

.previous:hover {
    background-color: #ffe100;
}