/*CSS variables*/

:root {
    --maincolor: #d9dab0;
    --maincolor-light: #f4f5db;

    --secondcolor: #23689b;
    --secondcolor-light: #487e95;

    --color-grey: #b2bbc2;
    --color-grey-light: #f6f5f5;

    --color-white: white;
    --color-black: black;
  }


/* Default Values */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    /*10px/16px = 62.5% -> 1rem = 10px */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    font-weight: 300;
    line-height: 1.6;
    
}

/* Start Styling */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    padding: 2rem;
}

.App{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: var(--black) 1px solid;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    padding: 1rem;
    background-color: var(--maincolor);
    
}

.App h1{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: var(--secondcolor-light);
}

.input__form {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    
}

.inputField {
    border: 1px solid var(--black);
    outline: none;
    font-size: 2.5rem;
    height: 4rem;
    vertical-align: middle;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    background-color: var(--color-grey-light);
    color: var(--secondcolor-light);
}

.inputLabel{
    color: var(--secondcolor);
    font-size: 1.5rem;
    text-transform: uppercase;
}

#inputLabel--Name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#inputField--Name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#inputLabel--Date {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

#inputField--Date {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#inputLabel--Amount {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

#inputField--Amount {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

#addButton{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    border: 1px solid var(--black);
    font-size: 3rem;
    height: 4rem;
    vertical-align: middle;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    background-color: var(--color-grey-light);
    color: var(--color-grey);
}

#addButton:hover{
    background-color: var(--secondcolor);
    color: var(--color-grey);
    
}

#container--list{
    display: none;
}

.expanse{
    border: var(--black) 1px solid;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    padding: 1rem;
    background-color: var(--secondcolor);
    width: 100%;
    
}
.expanse tr{
    color: var(--color-grey-light);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.tdElement{
    cursor: pointer;
    font-size: 20px;
    color: var(--secondcolor);
    background-color: var(--color-grey-light);
}