*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 1rem;
    background-color: #219F94;
    color: #F2F5C8;
}

#game{
    background-color: #C1DEAE;
    border: 1px solid rgb(100,100,100);
    width: 200px;
    height: 400px;
    position: relative;
}