*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    padding: 1rem;
    background-color: #219F94;
    color: #F2F5C8;
}

#game{
    background-color: #C1DEAE;
    border: 1px solid rgb(100,100,100);
    width: 200px;
    height: 400px;
    position: relative;
}

.previous{
    background-color: #f8e978;
    color: black;
    border: solid 1px #F7DF1E;
    border-radius: 0;
    font-family: "Lato", sans-serif;;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
    margin: 1rem;
}

.previous:hover {
    background-color: #ffe100;
}