*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App{
    padding: 1rem;
    background-color: #219F94;
    color: #F2F5C8;
    display: flex;
    flex-direction: column;
}

#game{
    background-color: #C1DEAE;
    border: 1px solid rgb(100,100,100);
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#fallingBox{
    background-color: "#E8E8A6";
    border: 2px solid white;

}

.gameBtn{
    color: black;
    background-color: lightblue;
    width: 10rem;
    height: 5rem;
    font-size: 1.4rem;
    transform: 1s;
}
.gameBtn:hover{
    background-color: white;
}

.previous{
    background-color: #f8e978;
    color: black;
    border: solid 1px #F7DF1E;
    border-radius: 0;
    font-family: "Lato", sans-serif;;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
    margin: 1rem;
}

.previous:hover {
    background-color: #ffe100;
}