*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    font-weight: 300;
    line-height: 1.6;
    
}

.container{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    justify-content: space-between;
}

.gamefield{
    position: relative;
}

.player{
    position: absolute;
    left: 0;
}

.dog{
    position: absolute;
    right: 0;
}