/*CSS variables*/

:root {
    --maincolor: #75cfb8;
    --maincolor-light: #bbdfc8;

    --secondcolor: #ffc478;
    --secondcolor-light: #f7cc95;

    --color-grey: #eef8ff;
    --color-grey-light: #dff2ff;

    --color-white: white;
    --color-black: black;
  }


/* Default Values */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    /*10px/16px = 62.5% -> 1rem = 10px */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    font-weight: 300;
    line-height: 1.6;
    
}

/* Start Styling */

.container {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.inputDiv {
    width: 40rem;
    height: auto;
    border: var(--black) 1px solid;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    background-color: var(--maincolor);
    padding: 1rem;

   
}

.inputDiv h1 {
    padding: 1rem;
    text-transform: uppercase;
    color: var(--color-grey);
    text-align: center;
    font-weight: 600;
}

#inputForm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 2rem;
    padding-bottom: 2rem;
}

#inputText {
    grid-column: 1 /3;
    border: var(--black) 1px solid;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    background-color: var(--secondcolor);
    color: var(--color-grey);
    padding: 1rem;
    font-size: 1.6rem;
}

#CheckButton {
    grid-column: 3 /4;
    border: var(--black) 1px solid;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    background-color: var(--secondcolor);
    color: var(--color-grey);
    padding: 1rem;
}

#CheckButton:hover{
    background-color: var(--secondcolor-light);
}

#result{
    background-color: var(--secondcolor);
    color: var(--color-white);
    margin: 1rem;
    padding: 1rem;
}



